@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --background-color: #2b3a55;

  --main-color: #ce7777;
  --secondary-color: #e8c4c4;
  --text-color: #e8c4c4;
}
body {
  font-family: "Tajawal", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  font-weight: 300;
  font-size: 1.05rem;
  line-height: 1.6;
}

.btn {
  font-family: inherit;
  cursor: pointer;
  outline: 0;
  font-size: 1.05rem;
}
.text {
  opacity: 0.8;
}
.title {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.container {
  min-height: 100vh;
}
.meal-wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.meal-search {
  margin: 2rem 0;
}
.meal-search cite {
  font-size: 1rem;
}
.meal-search-box {
  margin: 1.2rem 0;
  display: flex;
  align-items: stretch;
  justify-content: center;
}
.search-control,
.search-btn {
  width: 100%;
}
.search-control {
  padding: 0 1rem;
  font-size: 1.1rem;
  font-family: inherit;
  outline: none;
  border: 1px solid var(--secondary-color);
  color: var(--text-color);
  background-color: transparent;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}
.search-control::placeholder {
  color: var(--text-color);
}
.search-btn {
  width: 55px;
  height: 55px;
  font-size: 1.8rem;
  background-color: var(--background-color);
  color: var(--text-color);
  border: 1px solid var(--text-color);
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  transition: 0.5s;
}

.search-btn:hover {
  background-color: var(--text-color);
  color: var(--background-color);
  border: 1px solid var(--text-color);
}

.meal-result {
  margin-top: 4rem;
}
.meal-item {
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: -1px 0px 36px -10px rgba(103, 137, 131, 1);
  margin: 2rem 0;
}
.meal-img img {
  width: 100%;
  display: block;
}
.meal-name {
  padding: 1.5rem 0.5rem;
}
.meal-name h3 {
  font-size: 1.5rem;
}
.recipe-btn {
  display: block;
  text-decoration: none;
  background-color: var(--text-color);
  color: var(--background-color);
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.75rem;
  width: 175px;
  margin: 1rem auto;
  border-radius: 2rem;
  transition: 0.5s;
}
.recipe-btn:hover {
  background-color: var(--main-color);
}

.meal-details {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--main-color);
  color: var(--background-color);
  border-radius: 1rem;
  width: 80%;
  height: 80%;
  overflow-y: scroll;
  padding: 2rem;
  display: none;
}
.meal-details::-webkit-scrollbar {
  width: 10px;
}
.meal-details::-webkit-scrollbar-thumb {
  background-color: var(--background-color);
  border-radius: 2rem;
}
.meal-details-content {
  margin: 2rem;
}
.recipe-close-btn {
  position: absolute;
  right: 2rem;
  top: 2rem;
  font-size: 1.6rem;
  border-radius: 50%;
  /* padding: 0.5rem; */
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  background-color: var(--background-color);
  color: var(--main-color);
  width: 40px;
  height: 40px;
}
.recipe-title {
  padding-bottom: 1rem;
}
.recipe-category {
  background-color: var(--background-color);
  color: var(--main-color);
  font-weight: 600;
  display: inline-block;
  padding: 0.5rem;
  border-radius: 10px;
}
.recipe-instruct {
  padding: 1rem 0;
  margin-bottom: 1rem;
}

.recipe-meal-img img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  display: block;
}
.recipe-link {
  margin: 1.4rem 0;
}
.recipe-link a {
  color: var(--background-color);
  font-size: 1.2rem;
  font-weight: 700;
}
.show {
  display: block;
}
.notfound {
  grid-template-columns: 1fr !important;
  font-size: 3rem;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  font-weight: 800;
}
@media screen and (min-width: 600px) {
  .meal-search-box {
    width: 540px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  #meal {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  .meal-item {
    margin: 0;
  }
  .meal-details {
    width: 700px;
  }
}
@media screen and (min-width: 992px) {
  #meal {
    grid-template-columns: repeat(3, 1fr);
  }
}
